.card {
  background-color: hsla(0, 0%, 91%, 0.589);
  border-radius: 1rem;
  margin-top: 14.9%;
  box-shadow: 
  inset 1px 1px 1px hsla(0, 0%, 100%, 0.667),
  inset -1px -1px 1px hsla(var(--hue-1), 40%, 20%, 0.188),
  5px 5px 10px hsla(var(--hue-1), 40%, 20%, 0.188);
  display: grid;
}

.container__heading {
  display: grid;
  grid-area: top;
}
/* -----------Header-------- */

.card__header {
  background: linear-gradient(
    to bottom right,
    hsl(var(--hue-1), 30%, 40%),
    hsl(var(--hue-1), 45%, 55%)
  );
  color: var(--white);
  border-radius: 1rem 1rem 0rem 0rem;
  padding-top: 11.3%;
  position: relative;
  padding-left: 3%;
  padding-bottom: 0.8rem;
}
.card__header h3 {
  font-size: 2.5rem;
  display: block;
}
.card__header span {
  margin-top: -0.5rem;
  font-size: 1.5rem;
  display: block;
}

/* -----------Text-block-------- */
.card__text-block {
  background-color: hsla(var(--white-hue), 99%, 95%, .6);
  padding-bottom: 9%;
  padding-top: 7%;
}

.card__text-block__paragraph {
  padding-left: 3%;
  padding-top: 2%;
  font-size: 1.5rem;
}

/* -----------Footer-------- */
.card__footer {
  background-color: hsla(var(--white-hue), 99%, 95%, .6);
  border-top: 2px solid hsl(var(--hue-1), 30%, 40%);
  border-radius: 0rem 0rem 1rem 1rem; 
}
.card__footer__button {
  width: 35%;
  margin: 4.5% 4.5% 4.5% 60%;
  display: inline-block;
  padding:1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  box-shadow: 1px 1px 1px hsl(var(--hue-1), 30%, 40%);
  background-color: hsl(var(--hue-1), 30%, 40%);
}
a:visited{
  color: var(--white);
}

.card__footer__button:hover{
  color: hsl(var(--hue-1), 30%, 40%);
  background-color: var(--white);
}

/* -----------Icon-------- */
.card__icon {
  width: 18.5%;
  background-color: hsl(var(--hue-1), 30%, 50%);
  border-radius: 50%;
  justify-content: center;
  transform: translate(-50%, 50%);
  padding: 2.5%;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0px 3px 5px hsl(var(--hue-1), 30%, 50%);
}

/* -------------------Rött kort----------------- */

.card--danger header {
  background: linear-gradient(
    to bottom right,
    hsl(var(--hue-3), 30%, 40%),
    hsl(var(--hue-3), 45%, 55%)
    );
    padding-bottom: 0.2rem;
  padding-top: 10.8%;
  }
  .card--danger a {
    background-color: hsl(var(--hue-3), 30%, 40%);
    box-shadow: 1px 1px 1px hsl(var(--hue-3), 30%, 40%);
  }
  .card--danger footer a:hover{
    color: hsl(var(--hue-3), 30%, 40%);
  }
  .card--danger icon {
    background-color: hsl(var(--hue-3), 30%, 50%);
    box-shadow: 0px 3px 5px hsl(var(--hue-3), 30%, 50%);
  }
  .card--danger footer {
    border-color: hsl(var(--hue-3), 30%, 40%);
  }
  
  
  /* -------------------Grönt kort----------------- */
  .card--success {
    margin-top: 15%;
  }
  
  .card--success header {
    background: linear-gradient(
      to bottom right,
      hsl(var(--hue-4), 30%, 40%),
      hsl(var(--hue-4), 45%, 55%)
      );
      padding-bottom: 0.2rem;
      padding-top: 11%;
}
.card--success a {
  background-color: hsl(var(--hue-4), 30%, 40%);
  box-shadow: 1px 1px 1px hsl(var(--hue-4), 30%, 40%);
}
.card--success footer a:hover{
  color: hsl(var(--hue-4), 30%, 40%);
}
.card--success icon {
  background-color: hsl(var(--hue-4), 30%, 50%);
  box-shadow: 0px 3px 5px hsl(var(--hue-4), 30%, 50%);
}
.card--success footer {
  border-color: hsl(var(--hue-4), 30%, 40%);
}

@media only screen and (min-width: 768px){
  .card__icon {
    width: 13%;
  }
  .card__text-block__paragraph {
    padding-right: 24%;
  }
}


@media only screen and (min-width: 992px) {
  .card{
    margin-top: 0%;
  }
  .progress {
    padding-bottom: 35%;
  }
  
  .card__text-block__paragraph--mod {
    padding-bottom: 2.3rem;
  }
}
